.contactImage {
  height: 100%;
  object-fit: cover;
}

.section__title {
  color: black;
}

.contact__container {
  background-color: white;
  padding: 30px;
  margin-bottom: 100px;
  width: 100%;
}

.contact__button {
  padding: 10px 20px;
  color: white;
  background-color: #283618;
  border-radius: 10px;
  border-style: none;
  font-weight: 500;
}

.contact__button:hover {
  background-color: #364921;
  cursor: pointer;
}
