.contactStyle{
    box-shadow: 3px 3px 3px #838386;
    max-width: 65%;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    background-color:#e6e6f3;
}

.imageStyle{
    /* height: 100%;
    width: 65%; */
    margin-left: 2%;
    text-align: center;
}

.contactImage{
    height: 55vh;
    width: 90%
}