.footerStyle {
  position: relative;
  width: 100%;
  /* height: 20vh; */
  padding-bottom: 0 !important;
  bottom: 0;
}

.footer__logo {
  height: 60px;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
}

.footer__sectionHeader {
  font-weight: 500;
  font-size: 1.3rem;
  color: #283618;
}
