.button {
    width: 20vw;
    margin-bottom: 1%;
}

.nav-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: .5%;
    border-radius: 10px;
    left: 2%;
    top: 10%;
    min-height: 50vh;
    background-color: gray;
}