.page-heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3%;
}

.homeText{
    background-color: #DCDCDC;
    margin: 7px;
    padding: 5px;
    border:  groove;
    border-radius: 25px;
    box-shadow: 2px 2px 2px gray;
}