.storeStyle {
  text-align: center;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
  /* width: 70%; */
  color: whitesmoke;
}

.storeText {
  margin: 0 auto;
  text-align: center;
  /* background-color: #4c8c24; */
  /* box-shadow: 3px 3px 3px #255f01; */
  color: white;
}
