.productStyle{
    /* border: 1px solid black; */
    /* text-align: center; */
    /* display: flex; */
    /* margin: 0 auto; */
    /* width: 65%; */
    margin-top: 3%;
    padding-top: 3%;
}

.resultStyle{
    width: 65%;
    margin: 0 auto;
    display: flex;
    /* align-content: center; */
    margin-top: 3%;
    margin-bottom: 3%;
}

.inputStyle{
    padding-top: 1.6%;
}

/* @media screen and (max-width: 1000px){
    .inputStyle{
        padding-top: 1.6%;
    }
} */

@media screen and (max-width: 800px){
    .inputStyle{
        padding-top: 1.6%;
        width: 65%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 400px){
    .inputStyle{
        padding-top: 1.6%;
        width: 65%;
        margin: 0 auto;
    }
}

