.faqStyle{
    /* border: 1px solid black; */
    /* max-width: 65%; */
    /* display: flex; */
    /* margin: 0 auto; */
    /* padding: 20px 20px 20px 20px; */
    margin-top: 1%;
    margin-bottom: 3%;
    /* text-align: justify; */

}