.directionStyle {
  margin-bottom: 3%;
  text-align: center;
  /* max-width: 65%; */
  margin: 0 auto;
  /* margin-top: 3%;
  margin-bottom: 8%; */
}

/* .storeInfo{
    margin-left: 2%;
} */

/* .addresStyle {
    text-align: center;
    margin: 0 auto;
    padding-left: 1%;
    padding-left: 5%;
} */

/* .mapStyle{
    margin-left: 2%;
} */

/* #mapid {
  height: 100px;
} */

.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .directionStyle {
    margin-bottom: 3%;
    padding-bottom: 3%;
  }
}
