.aboutStyle{
    /* border: 1px solid black; */
    max-width: 65%;
    margin: 0 auto;
    text-align: justify;
}

.pictureStyle{
    margin: 0 auto;
    text-align: center;
    /* margin-bottom: 5%; */
    /* padding-bottom: 3%; */
    padding-top: 3%;
}

p{
    margin-bottom: 5%;
}
.aboutText {
    text-align: center;
    padding-bottom: 3%;
    background-color: #4c8c24;
    margin: 5px;
    border: 3px;
    box-shadow: 3px 3px 3px #255f01;
}
