@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
}

.adminHeader {
  width: 100%;
  height: 72px;
  color: #ddd8c5;
  background-color: #4c8c24;
  margin: 0 auto;
  padding: 5px;
  display: inline-block;
}

body {
  /* background-color: #ddd8c5; */
  font-family: "Roboto", sans-serif;
}
